{% extends "_layouts/guidance.njk" %}

{% set sectionId = "tools-and-resources" %}
{% set pageTitle = "Automated tools: How to test" %}
{% set pageId = 'basic-accessibility-checks/1-automated-tools-how-to-test' %}
{% set backLink = '/tools-and-resources/basic-accessibility-checks/#1-automated-tools'%}