{% extends "_layouts/guidance.njk" %}

{% set sectionId = "tools-and-resources" %}
{% set pageTitle = "Outlook" %}
{% set pageId = 'communications/outlook' %}
{% set backLink = '/tools-and-resources/communications/#outlook'%}