{% extends "_layouts/guidance.njk" %}

{% set sectionId = "tools-and-resources" %}
{% set pageTitle = "Session timeouts: Technical considerations" %}
{% set pageId = 'basic-accessibility-checks/10-session-timeouts-technical-considerations' %}
{% set backLink = '/tools-and-resources/basic-accessibility-checks/#10-session-timeouts'%}