{% extends "layouts/guidance.njk" %}

{% set sectionId = "accessibility-law" %}
{% set pageId = "en301549-accessibility-requirements-for-ict" %}
{% set pageTitle = "EN 301 549 - Accessibility requirements for ICT" %}
