{% extends "_layouts/landing.njk" %}

{% set pageTitle = "Accessibility statement" %}

{% block pageContent %}

<div class="app-width-container">
  <div class="govuk-main-wrapper govuk-main-wrapper--l">
    <div class="govuk-grid-row">

      <div class="govuk-grid-column-three-quarters">
        <div class="app-prose-scope">
          {% set mdcontent %}{% include './README.md' %}{% endset %}
          {{mdcontent|markdown|safe}}
        </div>
      </div>     

    </div>
  </div>
</div>

{% endblock %}