{% extends "_layouts/guidance.njk" %}

{% set sectionId = "best-practice" %}
{% set pageTitle = "Automated testing using browser plugins" %}
{% set pageId = 'automated-testing-using-browser-plugins' %}
