{% extends "_layouts/guidance.njk" %}

{% set sectionId = "tools-and-resources" %}
{% set pageTitle = "Announcements and alerts: Technical considerations" %}
{% set pageId = 'basic-accessibility-checks/9-announcements-and-alerts-technical-considerations' %}
{% set backLink = '/tools-and-resources/basic-accessibility-checks/#9-announcements-and-alerts'%}