
{% extends "layout.html" %}

{% block pageTitle %}
  Interaction designers and accessibility
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Interaction designers and accessibility
      </h1>
      <p>
        As an Interaction Designer, you play an important part of making sure a 
        service or website is accessible.
      </p>
      <p>
        Making screens and interactions simple makes things easier for everybody. 
        Overcomplicated designs or using inaccessible design patterns can have 
        a knock-on effect when it's time for developers to code up your designs.
      </p>

      {% include "./partials/_things-to-consider.njk" %}

      {% include "./partials/_use-up-to-date-styles.njk" %}
      {% include "./partials/_start-with-existing-patterns-and-components.njk" %}
      {% include "./partials/_1-thing-per-page.njk" %}
      {% include "./partials/_conditionally-revealing-content.njk" %}
      {% include "./partials/_minimise-visual-stimulus.njk" %}
      {% include "./partials/_do-not-rely-on-sensory-characteristics.njk" %}
      {% include "./partials/_use-sufficient-colour-contrast.njk" %}
      {% include "./partials/_unique-headings.njk" %}
      {% include "./partials/_logical-reading-order.njk" %}
      {% include "./partials/_use-of-columns.njk" %}
      {% include "./partials/_use-of-links-and-buttons.njk" %}
      {% include "./partials/_links-make-sense-out-of-context.njk" %}
      {% include "./partials/_alternative-text-for-images.njk" %}
      {% include "./partials/_summarise-charts-and-graphs.njk" %}
      {% include "./partials/_announce-dynamic-content.njk" %}
      
    </div>
  </div>

{% endblock %}
