{% extends "_layouts/guidance.njk" %}

{% set sectionId = "tools-and-resources" %}
{% set pageTitle = "Page title: Impact on users" %}
{% set pageId = 'basic-accessibility-checks/5-page-title-impact-on-users' %}
{% set backLink = '/tools-and-resources/basic-accessibility-checks/#5-page-title'%}