<div class="app-contact-panel">
  <h2 class="app-contact-panel__heading">
    Get in touch
  </h2>
  <p class="app-contact-panel__body">
    If you’ve got a question, idea or suggestion get in touch
</div>