$govuk-global-styles: true;
$govuk-page-width: 1100px;


// Import GOV.UK Frontend
@import "node_modules/govuk-frontend/govuk/all";

@import "../../components/all";


body {
  margin: 0;
}


p {
  max-width: 628px; // Desired CPL 75 (paragraphs) chars at a font size of 19px
}


@mixin ds-link-style-default {

  &:link {
    color: govuk-colour("purple");
  }

  &:visited {
    color: govuk-colour("dark-grey");
  }
  

  &:hover {
    color: govuk-colour("light-purple");
  }

  &:active {
    color: govuk-colour("black");
  }

  &:focus {
    color: govuk-colour("black");
  }

}


// App utility classes
.js-enabled .app-js-hidden {
  display: none;
}


.app-content {

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul:not(.app-tabs__list),
  ol {
    max-width: 38em;
  }

  img {
    @include govuk-responsive-margin(2, "top");
    @include govuk-responsive-margin(6, "bottom");
    border: 1px solid $govuk-border-colour;
    box-sizing: border-box;
    height: auto;
    padding: govuk-spacing(2);
    width: 100%;
  }

  video {
    max-width: 600px;
    @include govuk-responsive-margin(2, "top");
    @include govuk-responsive-margin(6, "bottom");
  }

}


// Grid modifications
[class*="govuk-grid-column"] {
  @include govuk-media-query($until: desktop) {
    padding: 0 $govuk-gutter-half;
  }
}


.govuk-grid-column-one-third,
.govuk-grid-column-two-thirds,
.govuk-grid-column-one-quarter {
  @include govuk-media-query($until: desktop) {
    width: 100%;
  }
}


// Add styling for inline code
li code,
td code,
p code {
  background-color: govuk-colour("light-grey", $legacy: "grey-4");
  padding: 0 govuk-spacing(1);
}


// Recreate prose scope for use with markdown
.app-prose-scope {

  h1 {
    @extend %govuk-heading-xl;
  }

  h2 {
    @extend %govuk-heading-l;
  }

  h3 {
    @extend %govuk-heading-m;
  }

  h4 {
    @extend %govuk-heading-s;
  }

  p {
    @extend %govuk-body-m;
  }

  strong,
  b {
    @include govuk-typography-weight-bold;
  }

  ul,
  ol {
    @extend %govuk-list;
  }

  ol {
    @extend %govuk-list--number;
  }

  ul {
    @extend %govuk-list--bullet;
  }

  ul a,
  ol a {
    @include ds-link-style-default;
  }

  a {
    @include ds-link-style-default;
  }

  hr {
    @extend %govuk-section-break;
    @extend %govuk-section-break--visible;
    @extend %govuk-section-break--xl;
  }

  table {
    @include govuk-font($size: 19);
    @include govuk-text-colour;
    @include govuk-responsive-margin(6, "bottom");
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
  }

  th {
    @include govuk-typography-weight-bold;
    border-bottom: 1px solid $govuk-border-colour;
    padding: govuk-em(govuk-spacing(2), 19px) govuk-em(govuk-spacing(4), 19px) govuk-em(govuk-spacing(2), 19px) 0;
    text-align: left;
  }

  td {
    border-bottom: 1px solid $govuk-border-colour;
    padding: govuk-em(govuk-spacing(2), 19px) govuk-em(govuk-spacing(4), 19px) govuk-em(govuk-spacing(2), 19px) 0;
    text-align: left;
  }

  th:last-child,
  td:last-child {
    padding-right: 0;
  }

  caption {
    @include govuk-typography-weight-bold;
    display: table-caption;
    text-align: left;
  }

}


pre {
  @include govuk-responsive-margin(4, "bottom");
  background: #f8f8f8; // Matches _higlight.scss
  font-size: 16px;
  margin: 0;
  padding: govuk-spacing(3);
  position: relative;
  overflow: scroll;
}

.description {
  background-color: #eef7ff;
  padding: 20px 20px 30px 20px;
  margin-bottom: 45px;}
