/* ==========================================================================
   #MASTHEAD
   // Ideal line length (https://pearsonified.com/typography)
   ========================================================================== */

.app-masthead {
  @include govuk-responsive-padding(6, "top");
  @include govuk-responsive-padding(6, "bottom");
  background-color: govuk-colour("purple");
  color: govuk-colour("white");
  margin-top: -1px; // Covers the navigation border bottom
}


.app-masthead__title {
  @include govuk-responsive-margin(6, "bottom");
  color: govuk-colour("white");
  max-width: 1057px; // Desired CPL 50 (headings) chars at a font size of 48px
}


.app-masthead__description {
  @include govuk-font(24);
  color: govuk-colour("white");
  margin-bottom: 0;
  max-width: 793px; // Desired CPL 75 (paragraphs) chars at a font size of 24px
}
