{% extends "_layouts/guidance.njk" %}

{% set sectionId = "tools-and-resources" %}
{% set pageTitle = "Responsive design" %}
{% set pageId = 'basic-accessibility-checks/2-responsive-design-impact-on-users' %}
{% set backLink = '/tools-and-resources/basic-accessibility-checks/#2-responsive-design'%}