{% extends "_layouts/guidance.njk" %}

{% set sectionId = "tools-and-resources" %}
{% set pageTitle = "PDFs" %}
{% set pageId = 'communications/pdfs' %}
{% set backLink = '/tools-and-resources/communications/#pdfs'%}