{% extends "layouts/guidance.njk" %}

{% set sectionId = "accessibility-law" %}
{% set pageId = "web-content-accessibility-guidelines" %}
{% set pageTitle = "Web Content Accessibility Guidelines (WCAG)" %}
