/* ==========================================================================
   #APP
   ========================================================================== */

.app-figure {
  margin: 1em 0;
  
  figcaption {
    padding: 0;
  }
  img {
    border: 1px solid $govuk-border-colour;
    max-width: 100%;
  }
}