{% extends "_layouts/guidance.njk" %}

{% set sectionId = "tools-and-resources" %}
{% set pageTitle = "Keyboard accessibility: Technical considerations" %}
{% set pageId = 'basic-accessibility-checks/3-keyboard-accessibility-technical-considerations' %}
{% set backLink = '/tools-and-resources/basic-accessibility-checks/#3-keyboard-accessibility'%}