{% extends "_layouts/guidance.njk" %}

{% set sectionId = "tools-and-resources" %}
{% set pageTitle = "Keyboard accessibility: How to test" %}
{% set pageId = 'basic-accessibility-checks/3-keyboard-accessibility-how-to-test' %}
{% set backLink = '/tools-and-resources/basic-accessibility-checks/#3-keyboard-accessibility'%}