{% extends "_layouts/guidance.njk" %}

{% set sectionId = "tools-and-resources" %}
{% set pageTitle = "Responsive design" %}
{% set pageId = 'basic-accessibility-checks/1-responsive-design-technical-considerations' %}
{% set backLink = '/tools-and-resources/basic-accessibility-checks/#1-responsive-design'%}