{% set items = [
  {
    text: "Automated accessibility testing",
    id: "automated-accessibility-testing"
  },
  {
    text: "Manual accessibility testing",
    id: "manual-accessibility-testing"
  },
  {
    text: "Assistive technology testing",
    id: "assistive-technology-testing"
  },
  {
    text: "Recording testing evidence",
    id: "recording-testing-evidence"
  },
  {
    text: "Definition of done",
    id: "definition-of-done"
  },
  {
    text: "Page title",
    id: "page-title"
  },
  {
    text: "Page url",
    id: "page-url"
  }
] %}