<h3 class="govuk-heading-m" id="manual-accessibility-testing">
  Manual accessibility testing
</h3>
<p>
  Automated accessibility testing is good to find obvious errors, but it won't find 
  everything. So you need to make sure you manually check each page before it is 
  signed off as done.
</p>
<p>
  These manual checks need to cover all 50 of the WCAG 2.1 AA criteria.
</p>
<p>
  You can use a browser plugin called <a href="https://accessibilityinsights.io/">
  Accessibility Insights</a> by Microsoft to do a relatively painless 
  accessibility assessment. It will guide you through the process and generate 
  a HTML report at the end.
</p>
<p>
  In DWP we also have a WCAG check-list known as a DAC03 form. This is a spreadsheet 
  which lists each of the A and AA criteria.
</p>
