<h3 class="govuk-heading-m" id="recording-testing-evidence">
  Recording testing evidence
</h3>
<p>
  It is important to keep evidence of all your accessibility testing. This means 
  at any point you have an understanding of how accessible your service is. It also 
  means you know when you are ready for a full audit, it is unlikely you will 
  find any major issues when doing so.
</p>
<p>
  In DWP, for each page you should have an AxeCore report and a completed DAC03 form. 
  If you use Accessibility Insights you should keep the HTML reports.
</p>
