/* ==========================================================================
   #EXAMPLE
   ========================================================================== */

.app-example {
  background-color: govuk-colour("white");
  border: 1px solid $govuk-border-colour;
  position: relative;
}


.app-example__frame {
  background-color: govuk-colour("white");
  border: 0;
  display: block;
  width: 100%;
}

.app-example-page {
  margin-bottom: -1px;
  padding: 30px;
  padding-top: 60px;
  position: relative;
}

.app-example__new-window {
  @include govuk-font($size: 14);
  border: 1px solid $govuk-border-colour;
  position: absolute; top: -1px; right: -1px;

  a,
  a:link,
  a:visited {
    background-color: white;
    color: govuk-colour("purple");
    display: block;
    padding: 5px 10px;
    text-decoration: none;
  }

  a:hover {
    color: govuk-colour("light-purple");
  }

  a:focus {
    background-color: $govuk-focus-colour;
  }


}
