{% if params.section.length %}
  {% set section = (params.section + '/') %}
{% else %}
  {% set section = 'components/' %}
{% endif %}

{% if params.height %}
  {% set height = params.height %}
{% else %}
  {% set height = 350 %}
{% endif %}

{% set codeUrl = './app/views/' + section + params.name + '/examples/'+params.example+'/template.html' %}

{% set exampleUrl = '/' + section + params.name + '/examples/'+params.example %}

{% if section == 'components/' %}
  {% set argumentsUrl = 'https://github.com/dwp/frontend/tree/master/src/' + section + 'dwp-' + params.name + '#arguments' %}
{% endif %}

{% set nunjucksCode %}
{% code %}js
{{ getNunjucksCode(codeUrl) | safe}}
{% endcode %}
{% endset %}

{% set htmlCode %}
{% code %}html
{{ getHtmlCode(codeUrl) | safe}}
{% endcode %}
{% endset %}

<div class="app-example">

  <span class="app-example__new-window">
    <a href="{{exampleUrl}}" target="_blank">Open this example in a new window</a>
  </span>

  <iframe class="app-example__frame" scrolling="auto" frameborder="0" height="{{height}}" src="{{exampleUrl}}"></iframe>

</div>

<div class="app-tabs">

  <ul class="app-tabs__list">
    <li class="app-tabs__list-item"><a class="app-tabs__tab" href="#html{{'-' + params.example}}">HTML</a></li>
    <li class="app-tabs__list-item"><a class="app-tabs__tab" href="#nunjucks{{'-' + params.example}}">Nunjucks</a></li>
  </ul>

  <div class="app-tabs__panel app-js-hidden" id="html{{'-' + params.example}}">
    {# <button class="app-button app-button--copy app-hide-mobile" type="button" aria-live="assertive">Copy</button> #}
    {# <button class="app-button app-button--close" type="button">Close</button> #}
    {{htmlCode | indent(4) | safe}}
  </div>

  <div class="app-tabs__panel app-js-hidden" id="nunjucks{{'-' + params.example}}">
    {# <button class="app-button app-button--copy app-hide-mobile" type="button" aria-live="assertive">Copy</button>
    <button class="app-button app-button--close" type="button">Close</button> #}

    {{ nunjucksCode | indent(4) | safe }}


    {% if argumentsUrl %}
    You may be able to configure this component using the [Nunjucks macro arguments]({{argumentsUrl}})
    {% endif %}

  </div>

</div>