{% extends "_layouts/guidance.njk" %}

{% set sectionId = "tools-and-resources" %}
{% set pageTitle = "Colour contrast: Technical considerations" %}
{% set pageId = 'basic-accessibility-checks/7-colour-contrast-technical-considerations' %}
{% set backLink = '/tools-and-resources/basic-accessibility-checks/#7-colour-contrast'%}