<h2 class="govuk-heading-m" id="aria-attribute-not-allowed-on-conditional-reveals">
  ARIA attribute is not allowed on conditional reveals
</h2>
<p>
  When running automated tests, if the page contains conditional reveals then 
  Axe will raise an error which reads:
</p>
<pre>
  <code class="text">
    ARIA attribute is not allowed: aria-expanded="false"
  </code>
</pre>
<p>
  The issue happens because the aria-expanded attribute is not allowed on 
  input tags, although W3C Validator and SiteImprove do not flag it as a 
  HTML error. 
</p>
<p>
  As of September 2020, it was decided by GDS that the current implementation 
  of the conditional reveal component is non-compliant with WCAG 4.1.2 Name, 
  Role, Value, due to the fact that some screenreaders fail to announce when 
  the content is expanded or collapsed.
</p>
<p>
  Until the component is fixed, it is recommended that you don't use conditional 
  reveals and instead display the conditional content on the next page.
</p>
<p>
  You can read more about these issues:
</p>
<ul class="govuk-list">
  <li>
    <a href="https://github.com/alphagov/govuk-frontend/issues/979">
      Github issue about Axe errors
    </a>
  </li>
  <li>
    <a href="https://github.com/alphagov/govuk-frontend/issues/1972">
      Github issue about conditional reveals
    </a>
  </li>
</ul>