<h2 class="govuk-heading-m" id="colour-contrast-fails-on-hm-government-logo">
  Colour contrast fails on HM Government logo
</h2>
<p>
  The colour contrast in the most recent version of the footer in the Design 
  System is 4.1:1. Most automated tools will work to a ratio of 4.5:1 so will may 
  this up as a false positive.
</p>
<p>
  Under <a href="https://www.w3.org/WAI/WCAG21/quickref/#non-text-contrast">
  WCAG 1.4.11 Non-text Contrast</a>, this logo is not an issue because it meets 
  a ratio of 3.1:1 and also does not contain information which is required to 
  understand context.
</p>
<p>
  It is recommended that you make sure the footer component is the most up to 
  date version and record this error as a non-issue.
</p>
