{% set items = [
  {
    text: "ARIA attribute is not allowed on conditional reveals",
    id: "aria-attribute-not-allowed-on-conditional-reveals"
  },
  {
    text: "Colour contrast fails on HM Government logo",
    id: "colour-contrast-fails-on-hm-government-logo"
  },
  {
    text: "GOV.UK Accordion component is non-compliant",
    id: "govuk-accordion-component-is-non-compliant"
  },
  {
    text: "GOV.UK conditional reveals are non-compliant",
    id: "govuk-conditional-reveals-are-non-compliant"
  },
  {
    text: "GOV.UK Date component does not work with Dragon",
    id: "govuk-date-component-does-not-work-with-dragon"
  },
  {
    text: "GOV.UK Details component does not work with Dragon",
    id: "govuk-details-component-does-not-work-with-dragon"
  },
  {
    text: "JAWs can not see headings inside fieldsets",
    id: "jaws-can-not-see-headings-inside-fieldsets"
  },
  {
    text: "Screen readers read out P45 as 45p",
    id: "screen-readers-read-out-p45-as-45p"
  }
] %}