<h2 class="govuk-heading-m" id="govuk-date-component-does-not-work-with-dragon">
  GOV.UK Date component does not work with Dragon
</h2>
<p>
  There is a known issue with number fields and Dragons inability to edit them. 
  It also affects old versions of the GOV.UK Date component as it used number fields.
</p>
<p>
  The issue was not with the Date component, but with Dragon. However as it affected 
  the component so much, a workaround was implemented in more modern iterations 
  of the Date component.
</p>
<p>
  It is recommended that you update the component to use the most recent version 
  from the GOV.UK Design System.
</p>
<p>
  You can read more about these issues:
</p>
<ul class="govuk-list">
  <li>
    <a href="https://github.com/alphagov/govuk-frontend/issues/1101">
      Github issue about Dragon and Date fields
    </a>
  </li>
  <li>
    <a href="https://github.com/alphagov/govuk-frontend/issues/1101#issuecomment-449400420">
      Github reference about reporting Date field issue to Nuance
    </a>
  </li>
</ul>
