<h2 class="govuk-heading-m" id="govuk-accordion-component-is-non-compliant">
  GOV.UK Accordion component is non-compliant
</h2>
<p>
  The GOV.UK Design System was audited in September 2020 and the <a href="https://design-system.service.gov.uk/components/accordion/">
  Accordion component</a> was found to be non-compliant.
</p>
<p>
  The reason for this is that the headings look like links but behave link buttons. 
  This fails <a href="https://www.w3.org/WAI/WCAG21/quickref/#info-and-relationships">
  WCAG 1.3.1 - Info and Relationships</a>.
</p>
<p>
  Until the component is fixed, it is not recommended to use the GOV.UK Accordion 
  component.
</p>
