<h2 class="govuk-heading-m" id="jaws-can-not-see-headings-inside-fieldsets">
  JAWs can not see headings inside fieldsets
</h2>
<p>
  There is where JAWs does not read out headings which are inside fieldset tags. 
</p>
<p>
  This affects most GOV.UK services using the 1 thing per page approach as components 
  such as radios and checkboxes nest the H1 inside the legend tag.
</p>
<p>
  The issue is with JAWs and not with the GOV.UK Design System components. The 
  issue has been raised with Freedom Scientific who would be responsible for fixing 
  it. 
</p>
<p>
  The issue only seems to happen in the Internet Explorer browser, so it could be 
  a good idea to recommend your users use a different browser in your Accessibility 
  Statement.
</p>
<p>
  You can read more about this issue:<br />
  <a href="https://github.com/freedomscientific/vfo-standards-support/issues/100">
  Github issue about JAWs not reading out headings</a>.
</p>
