### Recording testing evidence

It is important to keep evidence of all your accessibility testing. This means at any point you have an understanding of how accessible your service is. It also means you know when you are ready for a full audit, it is unlikely you will find any major issues when doing so.

In DWP, for each page you should have an axe-core report and a completed DAC03 form. If you use Accessibility Insights you should keep the HTML reports.
