{% extends "_layouts/guidance.njk" %}

{% set sectionId = "tools-and-resources" %}
{% set pageTitle = "Keyboard accessibility: Impact on users" %}
{% set pageId = 'basic-accessibility-checks/3-keyboard-accessibility-impact-on-users' %}
{% set backLink = '/tools-and-resources/basic-accessibility-checks/#3-keyboard-accessibility'%}