{% extends "_layouts/guidance.njk" %}

{% set sectionId = "tools-and-resources" %}
{% set pageTitle = "Microsoft PowerPoint" %}
{% set pageId = 'communications/microsoft-powerpoint' %}
{% set backLink = '/tools-and-resources/communications/#microsoft-powerpoint'%}