
{% extends "layout.html" %}

{% block pageTitle %}
  Software Engineers or Frontend Developers and accessibility
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Software Engineers or Frontend Developers and accessibility
      </h1>
      <p>
        As an Software Engineer or Frontend Developer, you have one of the most 
        important roles when it comes to accessibility. A design can have considered 
        accessibility, but it's up to you to build it to work correctly.
      </p>
      <p>
        By using existing libraries and frameworks such as GOV.UK Frontend and 
        DWP CASA, you can get a lot of accessibility for free.
      </p>

      {% include "./partials/_things-to-consider.njk" %}

      {% include "./partials/_govuk-frontend.njk" %}
      {% include "./partials/_dwp-casa.njk" %}
      {% include "./partials/_existing-patterns-and-components.njk" %}
      {% include "./partials/_valid-code.njk" %}
      {% include "./partials/_page-title.njk" %}
      {% include "./partials/_page-url.njk" %}
      {% include "./partials/_alternative-text-for-non-text-content.njk" %}
      {% include "./partials/_heading-hierarchy.njk" %}
      {% include "./partials/_links-make-sense-out-of-context.njk" %}
      {% include "./partials/_validation-and-error-messages.njk" %}
      {% include "./partials/_announce-dynamic-content.njk" %}
      {% include "./partials/_timeouts.njk" %}
      {% include "./partials/_cookie-consent.njk" %}
      {% include "./partials/_correct-roles.njk" %}
      {% include "./partials/_no-reliance-on-javascript.njk" %}
      {% include "./partials/_no-keyboard-traps.njk" %}
      {% include "./partials/_keyboard-focus.njk" %}
      {% include "./partials/_skip-links.njk" %}
      {% include "./partials/_orientation-and-reflow.njk" %}
      {% include "./partials/_inputs-and-labels.njk" %}
      {% include "./partials/_content-and-focus-order.njk" %}
      {% include "./partials/_setting-the-language.njk" %}

    </div>
  </div>

{% endblock %}
