{% extends "_layouts/guidance.njk" %}

{% set sectionId = "tools-and-resources" %}
{% set pageTitle = "Images: How to test" %}
{% set pageId = 'basic-accessibility-checks/8-images-how-to-test' %}
{% set backLink = '/tools-and-resources/basic-accessibility-checks/#8-images'%}