{% extends "_layouts/guidance.njk" %}

{% set sectionId = "tools-and-resources" %}
{% set pageTitle = "Colour contrast: How to test" %}
{% set pageId = 'basic-accessibility-checks/7-colour-contrast-how-to-test' %}
{% set backLink = '/tools-and-resources/basic-accessibility-checks/#7-colour-contrast'%}