{% extends "_layouts/guidance.njk" %}

{% set sectionId = "tools-and-resources" %}
{% set pageTitle = "Session timeouts: How to test" %}
{% set pageId = 'basic-accessibility-checks/10-session-timeouts-how-to-test' %}
{% set backLink = '/tools-and-resources/basic-accessibility-checks/#10-session-timeouts'%}