{% import '../_globals/navigation-data.njk' as globals %}

{% set navItems = {
  sectionId: sectionId,
  pageId: pageId,
  navItems: globals.navItems
} %}

<header role="banner" data-module="govuk-header">
  {{appHeader()}}
  {{appMobileNavigation(navItems)}}
  {{appPhaseBanner()}}
</header>
{{appNavigation(navItems)}}
