<div class="app-pane__nav">
  <div class="govuk-width-container">
  {{dsNav({
    items: [
    {
        title: 'Accessibility law',
        link: '/accessibility-law',
        selected: sectionId == 'accessibility-law'
      },
      {
        title: 'Guidance for you job role',
        link: '/guidance-for-your-job-role',
        selected: sectionId == 'guidance-for-your-job-role'
      },
      {
        title: 'Best practice',
        link: '/best-practice',
        selected: sectionId == 'best-practice'
      },
      {
        title: 'Tools and resources',
        link: '/tools-and-resources',
        selected: sectionId == 'tools-and-resources'
      },
      {
        title: 'Community',
        link: '/community',
        selected: sectionId == 'community'
      }
    ]
  }) }}
</div>

</div>
