<nav class="app-navigation govuk-clearfix">
  <ul class="app-navigation__list app-width-container">

    {% for item in params.navItems %}
      {% set current = (params.sectionId === item.id) %}

      <li class="app-navigation__list-item{{ ' app-navigation__list-item--current' if current }}">
        <a class="govuk-link govuk-link--no-visited-state app-navigation__link" href="{{item.link}}" data-topnav="{{item.title}}" {{ ' aria-current="page"' if item.selected}}>
          {{item.title}}
        </a>
      </li>
    {% endfor %}

  </ul>
</nav>
