<nav class="app-navigation govuk-clearfix">
  <ul class="app-navigation__list app-width-container">

    {# Loop through all the nav items #}
    {% for item in params.navItems %}

      {# Work out if the item is the section currently being viewed #}
      {% set current = (params.sectionId === item.id) %}
      
      {# Output the high level nav and set it to have the current class if it is currently being viewed #}
      <li class="app-navigation__list-item{{ ' app-navigation__list-item--current' if current }}">
        <a class="govuk-link govuk-link--no-visited-state app-navigation__link" href="{{item.link}}" data-topnav="{{item.title}}" {{ ' aria-current="page"' if item.selected}}>
          {{item.title}}
        </a>
      </li>
    {% endfor %}

  </ul>
</nav>
