<h3 class="govuk-heading-m" id="definition-of-done">
  Definition of done
</h3>
<p>
  Like the definition of ready, the definition of done is a list of criteria which 
  need to be met in order to consider a story to be finished.
</p>
<p>
  We can't deploy code which is not accessible, otherwise we are breaking the law. 
  So if it's not accessible it's not done.
</p>
<p>
  As part of your definition of done, the service should be checked for accessibility 
  using both automated and manual tests.
</p>
<p>
  An example of accessibility considerations in a definition of done:
</p>
<ul class="govuk-list govuk-list--bullet">
  <li>Automated accessibility tests passed using Axecore</li>
  <li>Manual accessibility tests passed using Accessibility Insights</li>
  <li>Manually checked usability using only a keyboard</li>
  <li>Manually checked usability using a screenreader</li>
  <li>Manually checked usability using a screen magnifier</li>
  <li>Manually checked usability using speech recognition</li>
</ul>

