<header class="govuk-header app-header" role="banner" data-module="govuk-header">
  <div class="govuk-header__container app-width-container app-header__container">
    <div class="govuk-header__logo app-header__logo">
      <a href="/" class="govuk-header__link govuk-header__link--homepage">
        <span class="govuk-header__logotype">
          <span class="govuk-header__logotype-text">
            DWP
          </span>
        </span>
        <span class="govuk-header__product-name">
          Accessibility Manual
        </span>
      </a>
    </div>
    
    <div class="app-header-mobile-nav-toggler-wrapper">
      <button id="app-mobile-nav-toggler" class="govuk-button app-header-mobile-nav-toggler js-app-mobile-nav-toggler" aria-controls="app-mobile-nav" aria-expanded="false">
        Menu
      </button>
    </div>
  </div>
</header>
