<h3 class="govuk-heading-s" id="1-thing-per-page">
  1 thing per page
</h3>
<p>
  Always start with 1 thing per page rather than using mutiple fields and 
  conditional reveals.
</p>
<p>
  Keeping the content of pages simple is one of the easiest ways to make them 
  accessible. 1 thing per page is less disorientating for users and reduces 
  the cognitive load.
</p>