<h3 class="govuk-heading-m" id="1-thing-per-page">
  1 thing per page
</h3>
<p>
  If you need to ask questions in your service, always start with 1 thing per page 
  rather than using multiple fields and conditional reveals.
</p>
<p>
  Use the <a href="https://design-system.service.gov.uk/patterns/question-pages/">
  GOV.UK design pattern for question pages</a>.
</p>
<p>
  Keeping the content of pages simple is one of the easiest ways to make them 
  accessible. 1 thing per page is less disorientating for users and reduces 
  the cognitive load.
</p>
<p>
  <a href="https://designnotes.blog.gov.uk/2015/07/03/one-thing-per-page/">
    Read more about 1 thing per page
    </a>.
</p>