<h3 class="govuk-heading-s" id="alternative-text-for-images">
  Alternative text for images
</h3>
<p>
  For images, consider if they're meaningful or decorative. Do they add 
  context or are they purely decorative?
</p>
<p>
  If an image is meaningful, you must provide alternative text. This means 
  somebody who cannot see the image can still understand what the image is 
  showing.
</p>
<p>
  For example:
  <pre>
    <code>
      &lt;img src="cat.jpg" alt="A cat wearing sunglasses." />
    </code>
  </pre>
</p>
<p>
  You should work with a Content Designer to make sure your alternative 
  text is clear and simple. 
</p>
<p>
  If an image is purely decorative, you should work with a Frontend Developer 
  to make sure it is hidden from screen readers.
</p>