<h3 class="govuk-heading-s" id="announce-dynamic-content">
  Announce dynamic content
</h3>
<p>
  If the content of a page changes dynamically, such as a pop-up or using 
  live data, you must announce the changes to a screenreader.
</p>
<p>
  Work with a frontend developer to make sure that dynamic content is 
  announced using the right aria attributes.
</p>