<h3 class="govuk-heading-m" id="conditionally-revealing-content">
  Conditionally revealing content
</h3>
<p>
  Conditionally revealing content has been possible for a while. But in 
  September 2020 GDS found that sometimes the expanded content was not read 
  out to screenreaders. You can <a href="https://design-system.service.gov.uk/accessibility/#non-compliance-with-the-accessibility-regulations">
  read more about the problem with conditionally revealing content</a> on 
  the GOV.UK Design System Accessibility Statement.
</p>
<p>
  When conditionally revealing content, do not nest multiple reveals inside 
  one another. This can very quickly become disorientating. If you must use 
  conditional reveals, keep them simple like the example given on the 
  <a href="https://design-system.service.gov.uk/components/radios/">
    Radio Button Component
  </a>.
</p>
<p>
  Conditional revealing content can also create scenarios where the 
  heading of the page loses it's context. If you must use conditional reveals 
  make sure that the fields all still make sense in the context of the H1.
</p>