{% set items = [
  {
    text: "Use up to date styles",
    id: "use-up-to-date-styles"
  },
  {
    text: "Start with existing patterns and components",
    id: "start-with-existing-patterns-and-components"
  },
  {
    text: "1 thing per page",
    id: "1-thing-per-page"
  },
  {
    text: "Conditionally revealing content",
    id: "conditionally-revealing-content"
  },
  {
    text: "Minimise visual stimulus",
    id: "minimise-visual-stimulus"
  },
  {
    text: "Do not rely on sensory characteristics",
    id: "do-not-rely-on-sensory-characteristics"
  },
  {
    text: "Use sufficient colour contrast",
    id: "use-sufficient-colour-contrast"
  },
  {
    text: "Logical reading order",
    id: "logical-reading-order"
  },
  {
    text: "Unique headings",
    id: "unique-headings"
  },
  {
    text: "Use of columns",
    id: "use-of-columns"
  },
  {
    text: "Use of links and buttons",
    id: "use-of-links-and-buttons"
  },
  {
    text: "Links make sense out of context",
    id: "links-make-sense-out-of-context"
  },
  {
    text: "Alternative text for images",
    id: "alternative-text-for-images"
  },
  {
    text: "Summarise charts and graphs",
    id: "summarise-charts-and-graphs"
  },
  {
    text: "Announce dynamic content",
    id: "announce-dynamic-content"
  }
] %}