<h3 class="govuk-heading-s" id="do-not-rely-on-sensory-characteristics">
  Do not rely on sensory characteristics
</h3>
<p>
  Do not design anything which relies solely on one of your senses. For 
  example, "The button on the left" implies that the user can see and can 
  decipher left from right. In reality, they could be blind and using a 
  screenreader so cannot know which button you are referring to. 
</p>
<p>
  Another example is "Use the green button for yes and the red button for no". 
  If your user is red/green colourblind then both buttons may look the same. 
</p>
<p>
  For any content, make sure there is more than 1 way to obtain the information. 
  If it's an image, provide alternative text. If it's audio, provide a transcript. 
  If it's a video, provide subtitles etc.
</p>