<h3 class="govuk-heading-s" id="logical-reading-order">
  Logical reading order
</h3>
<p>
  The most obvious way to do this is to keep pages simple and make them read 
  top to bottom.
</p>
<p>
  If you must use columns or complex layouts, make sure that the reading order 
  is still logical and that it still makes sense reading it top to bottom on 
  a mobile device.
</p>
<p>
  Links and form elements should also follow a logical order when using the 
  tab key. If you tab through the page and the focus is missing or moves 
  around the screen in an unpredictable way, this will fail WCAG 2.1.
</p>