<h3 class="govuk-heading-s" id="minimise-visual-stimulus">
  Minimise visual stimulus
</h3>
<p>
  The design should be simple and free from unnecessary visuals.
</p>
<p>
  Before using icons and images there should be clear evidence from your 
  user research that they are needed. We shouldn't be trying to make things 
  look cool or modern at the expense of making things simple. 
</p>