<h3 class="govuk-heading-s" id="start-with-existing-patterns-and-components">
  Start with existing patterns and components
</h3>
<p>
  When designing a new service, always start with what is available already. 
  Check the <a href="https://design-system.service.gov.uk">GOV.UK Design System</a> 
  and the <a href="https://design-system.dwp.gov.uk/index">DWP Design System</a> 
  before designing anything new because those patterns and components have 
  already been researched and tested to make sure they're accessible.
</p>
<p>
  If you design anything new, your team will have to do all of the user research 
  and accessibility assurance work to make sure that it is meeting the needs 
  of your users and the accessibility standards.
</p>
<p>
  If your service is only for staff or if won't be GOV.UK branded, it is still 
  recommended to use the GOV.UK Design System and its unbranded layout. 
  You will still get the benefits of the accessibility work that has gone 
  into it. For example resizing the screen, the line spacing and the 
  components.
</p>