<h3 class="govuk-heading-m" id="use-up-to-date-styles">
  Use up to date styles
</h3>
<p>
  Using out of date styles means you might not be meeting the current standards. 
  The GOV.UK styles were updated in <a href="https://github.com/alphagov/govuk-frontend">
  GOV.UK Frontend</a> 3.0 to meet the WCAG 2.1 standards. If you're using the 
  old styles your service will not be compliant.
</p>
<figure class="app-figure">
  <img src="/public/images/focus-style-old.png" alt="Example of old GOV.UK focus styles." />
  <figcaption class="govuk-body">Old GOV.UK styles</figcaption>
</figure>
<figure class="app-figure">
  <img src="/public/images/focus-style-new.png" alt="Example of new GOV.UK focus styles." />
  <figcaption class="govuk-body">New GOV.UK styles</figcaption>
</figure>
<p>
  You can read more about the updated GOV.UK styles in the following GDS blog post: 
  <a href="https://designnotes.blog.gov.uk/2019/07/29/weve-made-the-gov-uk-design-system-more-accessible/">
    We've made the GDS Design System more accessible
  </a>.
</p>
