<h3 class="govuk-heading-s" id="use-sufficient-colour-contrast">
  Use sufficient colour contrast
</h3>
<p>
  Make sure the colour contrast is sufficient between text and surrounding 
  elements. It should be 4.5:1 for normal text or 3:1 for large text.
</p>
<p>
  Large text is anything over 18pt, or bold text which is larger than 14pt. 
</p>
<p>
  Normal text is anythng under 18pt and is not bold.
</p>
<p>
  Don't use a font size less than 14pt. You can 
  <a href="https://design-system.service.gov.uk/styles/typography/">
  read more about font sizes in the GOV.UK Design System</a>.
</p>