<h3 class="govuk-heading-s" id="use-up-to-date-styles">
  Use up to date styles
</h3>
<p>
  Using out of date styles means you might not be meeting the current standards. 
  The GOV.UK styles were updated in GOV.UK Frontend 3.0 to meet the WCAG 2.1 
  standards. If you're using the old styles your service will not be compliant.
</p>
<p>
  To check you are using version 3.0 or higher, check your focus styles on 
  links against the <a href="https://design-system.service.gov.uk">GOV.UK Design System</a>. 
  You can read more about this in the following GDS blog post: 
  <a href="https://designnotes.blog.gov.uk/2019/07/29/weve-made-the-gov-uk-design-system-more-accessible/">
    We've made the GDS Design System more accessible
  </a>.
</p>