<h3 class="govuk-heading-m" id="use-of-links-and-buttons">
  Use of links and buttons
</h3>
<p>
  Links are often styled to look like buttons, but this can make things 
  difficult for people who use speech recognition software. It can also make 
  it difficult for users to know what to expect when they click on both of 
  these elements.
</p>
<p>
  As a general rule of thumb, a link should just navigate between pages and 
  buttons should interact with data. Ask yourself; "if I click this button, 
  am I submitting a form or deleting a record?" And if the answer is no, 
  then it probably should be a link.
</p>
<p>
  If you do need buttons, don't use more than one green button per page. The 
  green button should be the primary action. Any secondary actions should 
  use grey buttons. Distructive actions such as deleting a record should be red.
</p>
<p>
  You can <a href="https://design-system.service.gov.uk/components/button/">
  read more about buttons in the GOV.UK Design System</a>.
</p>
<p>
  If you absolutely must style a link to look like a button, then make sure 
  it is assigned the role of button. An example of this is the <a href="https://design-system.service.gov.uk/components/button/#start-buttons">
  Start Button</a> component.
</p>