{% set items = [
  {
    text: "Plan for accessibility",
    id: "plan-for-accessibility"
  },
  {
    text: "Definition of done",
    id: "definition-of-done"
  },
  {
    text: "Definition of ready",
    id: "definition-of-ready"
  }
] %}