<h3 class="govuk-heading-m" id="definition-of-ready">
  Definition of ready
</h3>
<p>
  When writing user stories, we outline criteria for when they are ready to build. 
  This is usually when it's been through usability testing and the acceptance 
  tests have been defined. But these discussions should also incude accessibility.
</p>
<p>
  As part of the stories definition of ready, make sure the team have discussed 
  how the proposed design can be made accessible, and include important content 
  in the story such as page titles and URLs as these can affect accessibility.
</p>
<p>
  Work with an Interaction Designer and a Content Designer to understand which 
  parts of the service might be tricky to build, for example things which do not 
  exist already and will need to be built from scratch. These will require more 
  testing. 
</p>
<p>
  An example of accessibility considerations in a definition of done:
</p>
<ul class="govuk-list govuk-list--bullet">
  <li>Error messages, page titles and URLs agreed with Content Designer</li>
  <li>Content reviewed by team and accessibility considerations discussed</li>
  <li>Design reviewed by team and accessibility considerations discussed</li>
</ul>

