<h3 class="govuk-heading-m" id="plan-for-accessibility">
  Plan for accessibility
</h3>
<p>
  Before anything can go live it needs to WCAG 2.1 compliant or you'll be breaking 
  the law. This includes your Minimum Viable Product (MVP). You can't go live and 
  implement accessibility at a later date.
</p>
<p>
  When estimating how long something will take to build, you will need to factor 
  in sufficient accessibility testing. It should include automated testing, manual 
  testing against the WCAG criteria, and usability testing using assistive technology.
</p>
<p>
  When doing releases, it is also important that the accessibility statement is 
  updated. This needs to reflect when the service was last tested and any potential 
  barriers that have been found or fixed. 
</p>
<p>
  If you do not plan for accessibility then it could create large amounts of technical 
  debt and could significantly delay your releases.
</p>