{% set items = [
  {
    text: "Use HTML wherever possible",
    id: "use-html-wherever-possible"
  },
  {
    text: "Summarise charts and graphs",
    id: "summarise-charts-and-graphs"
  },
  {
    text: "Do not rely on sensory characteristics",
    id: "do-not-rely-on-sensory-characteristics"
  },
  {
    text: "Use sufficient colour contrast",
    id: "use-sufficient-colour-contrast"
  },
  {
    text: "Logical reading order",
    id: "logical-reading-order"
  },
  {
    text: "Do not merge table cells",
    id: "do-not-merge-table-cells"
  },
  {
    text: "Use appropriate table headings",
    id: "use-appropriate-table-headings"
  }
] %}