<h3 class="govuk-heading-m" id="do-not-merge-table-cells">
  Do not merge table cells
</h3>
<p>
  When using HTML tables and spreadsheets, it can be tempting to merge cells together 
  to make the table appear less cluttered.
</p>
<p>
  However, when navigating tables using assistive technology it can be disorientating 
  when there is suddenly less columns than you previously expected.
</p>
<p>
  For people who are visually impaired and using a screenreader, it can be 
  disorientating when you try to skip to rows or columns which you expect to exist 
  and they dont. For example, if there are 4 columns in rows 1 and 2, you'd expect 
  there to be 4 columns in row 3. But if they had been merged and there was now only 
  1 column, it would be very confusing to understand why if you can't see the 
  table visually.
</p>
