<h3 class="govuk-heading-m" id="use-sufficient-colour-contrast">
  Use sufficient colour contrast
</h3>
<p>
  When using colour, for non-text elements a contrast ratio of 3:1 must be maintained 
  between each element and any adjacent colours. This might just mean the bar on 
  a chart needs to have sufficient contrast from the background colour. But for 
  something like a pie chart, it would mean each segment would also have to have 
  sufficient contrast from any adjacent slices.
</p>
<p>
  This can get particularly tricky with complex charts so you might need to use 
  more than just colour to be able to tell things apart. One way to do this is to 
  use textures or patterns. Another way might be to use thick black borders to 
  create a high contrast boundary between segments.
</p>
<p>
  For text, the contrast ratio is higher unless the text is considered to be large. 
  A ratio of 4.5:1 is required for normal sized text and 3:1 for large text.
</p>
<p>
  Large text is defined as anything over 18pt, or bold text which is larger than 14pt. 
  Normal text is defined as anythng under 18pt and is not bold.
</p>
<p>
  You can use the <a href="https://webaim.org/resources/contrastchecker/">
  Webaim Colour Contrast Checker</a> to make sure your colour choices 
  are accessible.
</p>
