<h3 class="govuk-heading-m" id="use-html-wherever-possible">
  Use HTML wherever possible
</h3>
<p>
  Statistical documents have historically been in downloadable formats such as PDF.
  But, PDFs can be unpredictable depending on how they've been tagged for 
  accessibility. 
</p>
<p>
  Wherever possible, statistical documents should be produced using HTML. This will 
  make them much more accessible for users who rely on assistive technology. 
</p>
<p>
  If HTML is absolutely not possible, make sure the additional work is done to 
  make sure the alternative documents are tagged correctly or available in a range 
  of different formats.
</p>
