{% extends "layouts/guidance.html" %}
{% import './../_globals/navigation-data.njk' as globals %}

{% set sectionId = "guidance-for-your-job-role" %}
{% set pageTitle = "Guidance for your job role" %}
{% set subNavParams = {
  pageId: pageId,
  sectionId: sectionId,
  navItems: globals.navItems
} %}

{% block subNav %}
  {{dsSubnav(subNavParams)}}
{% endblock %}

{% block pageContent %}
  <div class="app-prose-scope">{% markdown %}{% include "./README.md" %}{% endmarkdown %}</div>
{% endblock %}
