{% extends "_layouts/guidance.njk" %}

{% set sectionId = "tools-and-resources" %}
{% set pageTitle = "Microsoft Word" %}
{% set pageId = 'communications/microsoft-word' %}
{% set backLink = '/tools-and-resources/communications/#microsoft-word'%}