
{% extends "layout.html" %}

{% block pageTitle %}
  Accessibility Statements
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Accessibility Statements
      </h1>
      <p>
        An accessibility statement is a page of content on your service which:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>shows people how we can be confident our services are accessible</li>
        <li>allows people to contact us if they get stuck</li>
        <li>stops people wasting their time if they won't be able to use the service</li>
        <li>empowers people to hold us accountable if we are not fulfilling our responsibilities</li>
        <li>helps our services to be legally compliant</li>
      </ul>
      <p>
        There is a recommended format for accessibility statements in Government. 
        GDS have created two templates:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="https://www.gov.uk/service-manual/helping-people-to-use-your-service/publishing-information-about-your-services-accessibility">
            <span class="govuk-visually-hidden">accessibility statement </span>template for GOV.UK services
          </a>
        </li>
        <li>
          <a href="https://www.gov.uk/government/publications/sample-accessibility-statement/sample-accessibility-statement-for-a-fictional-public-sector-website">
            <span class="govuk-visually-hidden">accessibility statement</span> template for a public sector website which is not part of GOV.UK
          </a>
        </li>
      </ul>
      <p>
        There is also <a href="https://www.gov.uk/guidance/make-your-website-or-app-accessible-and-publish-an-accessibility-statement#publish-your-accessibility-statement">
        additional guidance on accessibility statements on GOV.UK</a>.
      </p>

      <h2 class="govuk-heading-m">
        Accessibility statements and the law
      </h2>
      <p>
        Under <a href="https://www.legislation.gov.uk/uksi/2018/952/regulation/8/made">regulation 8</a> 
        in the <a href="https://www.legislation.gov.uk/uksi/2018/952/contents/made">
        Public Sector Bodies Accessibility Regulations 2018</a> it states that 
        all public sector websites must provide an accessibility statement.
      </p>
      <p>
        Under the legislation, an accessibility statement must:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>be provided in an accessible format</li>
        <li>be published on the website of the public sector body</li>
        <li>include an explanation of any features which are not accessible and why</li>
        <li>outline any accessible alternatives</li>
        <li>provide a method of contact so people can report issues or request information</li>
        <li>outline the enforcement procedure</li>
      </ul>
    </div>
  </div>

{% endblock %}
