
{% extends "layout.html" %}

{% block pageTitle %}
  Accessibility Regulations vs the Service Standard
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Accessibility Regulations vs the Service Standard
      </h1>
      <p>
        There is a difference between being legally compliant and having a service 
        which works for everyone. Legal compliance is the bare minimum, but it 
        doesn't guarantee your service will work for all your users.
      </p>
      <p>
        The <a href="https://www.gov.uk/service-manual/service-standard">
        GOV.UK Service Standard</a> is more specific in what you need to do to 
        make your service accessible. There is an additional two criteria you 
        must meet. This is called the <a href="https://www.gov.uk/service-manual/helping-people-to-use-your-service/making-your-service-accessible-an-introduction#meeting-government-accessibility-requirements">
        Government Accessibility Requirements.
      </p>

      <h2 class="govuk-heading-m">
        The Public Sector Bodies Accessibility Regulations 2018
      </h2>
      <p>
        To be legally compliant your service needs to:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li> 
          meet the
          <a href="/section/accessibility-and-the-law/web-content-accessibility-guidelines">
            Web Content Accessibility Guidelines (WCAG) 2.1
          </a> 
        </li>
        <li> 
          publish a compliant 
          <a href="/section/accessibility-and-the-law/accessibility-statements">
            accessibility statement
          </a>
        </li>
      </ul>
      <p>
        You can read a more in depth explanation about the  
        <a href="/section/accessibility-and-the-law/accessibility-regulations">
        accessibility regulations</a> in this manual.
      </p>

      <h2 class="govuk-heading-m">
        The Government Accessibility Requirements
      </h2>
      <p>
        To pass a service assessment your service needs to:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          meet the Web Content Accessibility Guidelines (WCAG) 2.1
        </li>
        <li> 
          publish a compliant accessibility statement
        </li>
        <li> 
          include users with disabilities in user research
        </li>
        <li> 
          be tested with <a href="https://www.gov.uk/service-manual/technology/testing-with-assistive-technologies">
          common assistive technologies</a>
        </li>
      </ul>
    </div>
  </div>

{% endblock %}
