
{% extends "layout.html" %}

{% block pageTitle %}
  Disproportionate burden
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Disproportionate burden
      </h1>

      <p>
        The only way your service can be non-compliant and still legal is following 
        a thorough disproportionate burden assessment.
      </p>
      <p>
        Disproportionate burden means that making your website or mobile 
        application compliant is likely to have a significant impact on your 
        organisations ability to function. For example, if commissioning 
        an accessibility audit woud cost more than your usual budget for the 
        financial year.
      </p>
      <p>
        You cannot claim disproportionate burden if your organisation has simply 
        not allocated time, budget or resources towards accessibility compliance.
      </p>
      <p>
        It is important to note that you cannot simply decide the burden is 
        disproportionate. A thorough and transparent report will need to be 
        conducted including financial figures and the impact it would have on 
        your users. Any report would need to be signed off by a legal professional 
        to make sure it is lawful and aligns with the legislation.
      </p>
      <p>
        Any disproportionate burden assessment will need to be reviewed annually 
        and will be open to freedom of information requests.
      </p>
      <p>
        <a href="https://twitter.com/Access_Rhodes">George Rhodes</a>; an accessibility consultant at the Home Office, has written 
        <a href="https://www.lexdis.org.uk/digital-accessibility/digital-accessibility-regulations/disproportionate-burden/disproportionate-burden-thoughts/">
        an in depth article on disproportionate burden</a>.
      </p>
    </div>
  </div>

{% endblock %}
