{% extends "_layouts/guidance.njk" %}

{% set sectionId = "tools-and-resources" %}
{% set pageTitle = "Page title: Technical considerations" %}
{% set pageId = 'basic-accessibility-checks/5-page-title-technical-considerations' %}
{% set backLink = '/tools-and-resources/basic-accessibility-checks/#5-page-title'%}