{% extends "_layouts/guidance.njk" %}

{% set sectionId = "best-practice" %}
{% set pageTitle = "Automated testing using axe-core and PA11Y" %}
{% set pageId = 'automated-testing-using-axe-core-and-pa11y' %}
