<h3 class="govuk-heading-m" id="consistent-content">
  Consistent content
</h3>
<p>
  The content should be consistent across the service. For example, if the button 
  at the bottom of each page is labelled "Continue", then it should be labelled 
  "Continue" on other pages, and not something similar like "Next". 
</p>
<p>
  Consistent doesn't always mean identical. For exaample if you have a link which 
  says 'Go to page 4', then it would be acceptable to have 'Go to page 5' on the 
  next page.
</p>
<p>
  Links on the same page which go to the same place should be consistent in their 
  wording.
</p>
