{% set items = [
  {
    text: "Reading age",
    id: "reading-age"
  },
  {
    text: "Logical reading order",
    id: "logical-reading-order"
  },
  {
    text: "Page title",
    id: "page-title"
  },
    {
    text: "Page URL",
    id: "page-url"
  },
  {
    text: "Unique headings",
    id: "unique-headings"
  },
  {
    text: "Heading hierarchy",
    id: "heading-hierarchy"
  },
  {
    text: "Consistent content",
    id: "consistent-content"
  },
  {
    text: "Error messages",
    id: "error-messages"
  },
  {
    text: "Links make sense out of context",
    id: "links-make-sense-out-of-context"
  },
  {
    text: "Alternative text for non-text content",
    id: "alternative-text-for-images"
  },
  {
    text: "Labels and instructions",
    id: "labels-and-instructions"
  },
  {
    text: "Hidden content",
    id: "hidden-content"
  },
  {
    text: "Captions and transcripts",
    id: "captions-and-transcripts"
  }
] %}
