<h3 class="govuk-heading-m" id="error-messages">
  Error messages
</h3>
<p>
  WCAG 3.3.3 error suggestion states that if an input error is detected then 
  suggestions are made to the user provided it does not jeopordize security.
</p>
<p>
  For example, a user does not fill in their name. We should create an error 
  message which reads: "Enter your name".
</p>
<p>
  However, if there are security considerations, then we still need to provide an 
  error message but it can be more vague. An example of this might be an email and  
  password combination.
</p>
<p>
  For example, if somebody was trying to gain access to somebody elses account, 
  by only telling them they got the password incorrect, you are also telling them 
  that they actually got the email address correct. So for situations like this 
  the error message might instead read: "Enter both your email and password correctly."
</p>
<p>
  You should work with a Frontend Developer and a QA Tester to work out what error 
  messages you might need to write content for.
</p>
<p>
  You can <a href="https://design-system.service.gov.uk/components/error-message/">
  read more about error messages in the GOV.UK Design System</a>.
</p>
