<h3 class="govuk-heading-m" id="hidden-content">
  Hidden content
</h3>
<p>
  Try to avoid hidden content. If content is needed it should be on the page. When 
  we hide content away in collapsible components it's often because we haven't 
  done a very good job of explaining something, or we are trying to put too much 
  content on the page.
</p>
<p>
  Both the <a href="https://design-system.service.gov.uk/components/accordion/">
  GOV.UK Accordion component</a> and the <a href="https://design-system.service.gov.uk/components/details/">
  GOV.UK Details component</a> have accessibility issues. There is also a lot of 
  research that suggests if you hide content the user is likely to miss it completely.
</p>
<p>
  The GOV.UK Details component is styled to look like a link, but it behaves like 
  a button when using speach recgonition software such as Dragon. If it looks like 
  a link, it should be able to be programatically determined to be one under 
  <a href="https://www.w3.org/WAI/WCAG21/quickref/#name-role-value">WCAG 4.1.2 Name, 
  Role, Value</a>.
</p>
<p>
  The GOV.UK Accordion component also has the same issue with section headings. 
  They look like links but behave like buttons. You can read more about the 
  <a href="https://design-system.service.gov.uk/accessibility/#non-compliance-with-the-accessibility-regulations">
  accessibility issues with the Accordion component</a> on the <a href="https://design-system.service.gov.uk/accessibility/">
  GOV.UK Design System accessibility statement</a>.
</p>