<h3 class="govuk-heading-m" id="page-title">
  Page title
</h3>
<p>
  Titles should describe the topic or purpose of the page. They are usually 
  identical to the H1, apart from when the H1 contains identifiable information.
</p>
<p>
  For example, if the H1 is "What is your date of birth?" then the title would 
  be the same.
</p>
<p>
  However, sometimes the H1 can contain personal information, for example 
  "What is John Smith's date of birth". In this case, the title should not be 
  the same as there is a risk the information would be sent as analytics data.
</p>
<p>
  In cases like this, the title should be as close as possible but not identical. 
  For example, "What is your partners date of birth?".
</p>
<p>
  You should work with a Frontend Developer and QA Tester to make sure the titles 
  are correct when deciding if the page is finished.
</p>
