<h3 class="govuk-heading-m" id="reading-age">
  Reading age
</h3>
<p>
  It is recommended that we write for a reading age of 9. This makes it easier for 
  everybody to understand regardless of their education or background.
</p>
<p>
  You can test the reading age of your content with a tool such as <a href="http://hemingwayapp.com">
  Hemingway</a> or <a href="https://webfx.com/tools/read-able">WebFX</a>.
</p>
<p>
  You can <a href="http://www.gov.uk/guidance/content-design/writing-for-gov-uk#reading-skills">
  read more about reading age in the GOV.UK guidance</a> or from the following 
  GDS blog post: <a href="https://gds.blog.gov.uk/2016/02/23/writing-content-for-everyone/">
  Writing content for everyone</a>.  
</p>
