{% from "./_data.njk" import items %}

<h2 class="govuk-heading-m">
  Things to consider <span class="govuk-visually-hidden">as an Interaction Designer</span>
</h2>
<ul class="govuk-list">
  {% for item in items %}
    <li>
      <a href="#{{item.id}}">
        {{item.text}}
      </a>
    </li>
  {% endfor %}
</ul>
  