{% if params.pageId === params.sectionId %}
  <div class="app-pane__subnav-mobile-overview govuk-!-padding-top-4">
    <nav class="govuk-!-padding-bottom-6">
      {% for item in params.navItems %}
        {% if item.id === params.sectionId %}
          {% for pageSubsection in item.subsections %}
            {% if pageSubsection.sectionHeading !== '' %}
              <h2 class="govuk-heading-m">
                {{pageSubsection.sectionHeading}}
              </h2>
            {% endif %}
            {% for subItem in pageSubsection.subsections %}
              <ul class="govuk-list">
                <li class="govuk-!-margin-bottom-2">
                  <a class="govuk-link" href="{{subItem.link}}">
                    {{subItem.title}}
                  </a>
                </li>
              </ul>
            {% endfor %}
          {% endfor %}
        {% endif%}
      {% endfor %}
    </nav>
  </div>
{% endif %}