<ul class="app-page-navigation">
  {% for item in params.navItems %}
    {% if item.id === params.sectionId %}
      {% for subItem in item.subsections %}

        {# Page subnav #}
        {% if subItem.id === params.pageId %}
          {% for jumpLink in subItem.subsections %}
            <li class="app-page-navigation__item">
              <a class="govuk-link" href="#{{jumpLink.id}}">
                {{jumpLink.title}}
              </a>
            </li>
          {% endfor %}
        
        {# Section subnav #}
        {% else %}
          <li class="app-page-navigation__item">
            <a class="govuk-link" href="{{subItem.link}}">
              {{subItem.title}}
            </a>
          </li>
        {% endif %}
        
      {% endfor %}
    {% endif%}
  {% endfor %}
</ul>