{% extends "_layouts/guidance.njk" %}

{% set sectionId = "guidance-for-your-job-role" %}
{% set pageId = "digital-performance-analyst" %}
{% set pageTitle = "Digital Performance Analysts and accessibility" %}
