{% extends "_layouts/base.njk" %}

{% if (sectionId === pageId) %}
  {% set pathToREADME = sectionId + '/README.md' %}
{% else %}
  {% set pathToREADME = sectionId + '/' + pageId + '/README.md' %}
{% endif %}

{% set subNavParams = {
    pageId: pageId,
		pageTitle: pageTitle,
    sectionId: sectionId,
    navItems: navItems
  } %}

{% block body %}
  <div class="app-pane app-pane--enabled" id="top">

    {% include "./partials/header.njk" %}

    <div class="app-pane__body app-width-container">
      <div class="app-pane__subnav">
        {% block subNav %}
          {{dsSubnav(subNavParams)}}
        {% endblock %}
      </div>

      <div class="app-pane__content">
        <div class="app-content">
          {% if backLink %}
            <a href="{{backLink}}" class="govuk-back-link govuk-!-margin-bottom-7">Back</a>
          {% endif %}
          <main role="main" id="main-content">
            <div class="app-prose-scope">
              {% set mdcontent %}{% include pathToREADME %}{% endset %}
              {{mdcontent|markdown|safe}}
            </div>

            {{appPageNavigation(subNavParams)}}

            {% include "../../views/components/back-to-top/template.njk" %}
          </main>
        </div>
      </div>
    </div>
    {% include "./partials/footer.njk" %}
  </div>

{% endblock %}

{% block pageScripts %}

{% endblock %}