{% extends "_layouts/base.njk" %}

{% if (sectionId === pageId) %}
  {% set pathToREADME = sectionId + '/README.md' %}
{% else %}
  {% set pathToREADME = sectionId + '/' + pageId + '/README.md' %}
{% endif %}

{% set subNavParams = {
    pageId: pageId,
		pageTitle: pageTitle,
    sectionId: sectionId,
    navItems: navItems
  } %}

{% block body %}
  <a href="#main-content" class="govuk-skip-link">Skip to main content</a>
  <div class="app-pane app-pane--enabled" id="top">

    {% include "./partials/header.njk" %}

    <div class="app-pane__body app-width-container">
      <div class="app-pane__subnav">
        {% block subNav %}
          {{dsSubnav(subNavParams)}}
        {% endblock %}
      </div>

      <div class="app-pane__content">
        <main class="app-content" role="main" id="main-content">
          <div class="app-prose-scope">
            {% markdown %}{% include pathToREADME %}{% endmarkdown %}
          </div>

          {{appPageNavigation(subNavParams)}}

          {% include "../../components/back-to-top/template.njk" %}
        </main>
      </div>
    </div>
    {% include "./partials/footer.njk" %}
  </div>

{% endblock %}

{% block pageScripts %}

{% endblock %}