{% extends "_layouts/guidance.njk" %}

{% set sectionId = "tools-and-resources" %}
{% set pageTitle = "Automated tools: Technical considerations" %}
{% set pageId = 'basic-accessibility-checks/1-automated-tools-technical-considerations' %}
{% set backLink = '/tools-and-resources/basic-accessibility-checks/#1-automated-tools'%}