{% extends "_layouts/guidance.njk" %}

{% set sectionId = "tools-and-resources" %}
{% set pageTitle = "Automated tools: Impact on users" %}
{% set pageId = 'basic-accessibility-checks/2-automated-tools-impact-on-users' %}
{% set backLink = '/tools-and-resources/basic-accessibility-checks/#2-automated-tools'%}