<nav class="app-navigation govuk-clearfix">
  <ul class="app-navigation__list">
    
    <li class="app-navigation__list-item">
      <a class="govuk-link govuk-link--no-visited-state app-navigation__link" href="/get-started/" data-topnav="Get started">Get started</a>
    </li>
    
    <li class="app-navigation__list-item">
      <a class="govuk-link govuk-link--no-visited-state app-navigation__link" href="/styles/" data-topnav="Styles">Styles</a>
    </li>
    
    <li class="app-navigation__list-item">
      <a class="govuk-link govuk-link--no-visited-state app-navigation__link" href="/components/" data-topnav="Components">Components</a>
    </li>
    
    <li class="app-navigation__list-item">
      <a class="govuk-link govuk-link--no-visited-state app-navigation__link" href="/patterns/" data-topnav="Patterns">Patterns</a>
    </li>
    
    <li class="app-navigation__list-item">
      <a class="govuk-link govuk-link--no-visited-state app-navigation__link" href="/community/" data-topnav="Community">Community</a>
    </li>
    
  </ul>
</nav>