{% extends "_layouts/guidance.njk" %}

{% set sectionId = "tools-and-resources" %}
{% set pageTitle = "Images: Impact on users" %}
{% set pageId = 'basic-accessibility-checks/8-images-impact-on-users' %}
{% set backLink = '/tools-and-resources/basic-accessibility-checks/#8-images'%}