{% extends "_layouts/guidance.njk" %}

{% set sectionId = "tools-and-resources" %}
{% set pageTitle = "Announcements and alerts: How to test" %}
{% set pageId = 'basic-accessibility-checks/9-announcements-and-alerts-how-to-test' %}
{% set backLink = '/tools-and-resources/basic-accessibility-checks/#9-announcements-and-alerts'%}