{% extends "_layouts/guidance.njk" %}

{% set sectionId = "tools-and-resources" %}
{% set pageTitle = "Headings and labels: Impact on users" %}
{% set pageId = 'basic-accessibility-checks/4-headings-and-labels-impact-on-users' %}
{% set backLink = '/tools-and-resources/basic-accessibility-checks/#4-headings-and-labels'%}