{% extends "_layouts/guidance.njk" %}

{% set sectionId = "tools-and-resources" %}
{% set pageTitle = "Announcements and alerts: Impact on users" %}
{% set pageId = 'basic-accessibility-checks/9-announcements-and-alerts-impact-on-users' %}
{% set backLink = '/tools-and-resources/basic-accessibility-checks/#9-announcments-and-alerts'%}