{# Community banner #}
<div class="app-phase-banner__wrapper">
  <div class="govuk-phase-banner app-phase-banner app-width-container">
    <p class="govuk-phase-banner__content">
      <span class="govuk-phase-banner__text">
        This manual is a community effort. Your <a class="govuk-link" href="https://github.com/dwp/accessibility-manual/issues/new">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>
</div>

{# Original BETA banner
<div class="app-phase-banner__wrapper">
  <div class="govuk-phase-banner app-phase-banner app-width-container">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        beta
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="/get-in-touch">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>
</div> #}