{% extends "_layouts/guidance.njk" %}

{% set sectionId = "tools-and-resources" %}
{% set pageTitle = "Headings and labels: Technical considerations" %}
{% set pageId = 'basic-accessibility-checks/4-headings-and-labels-technical-considerations' %}
{% set backLink = '/tools-and-resources/basic-accessibility-checks/#4-headings-and-labels'%}