
{% extends "layout.html" %}

{% block pageTitle %}
  Content designers and accessibility
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Content designers and accessibility
      </h1>
      <p>
        Making the content as easy to understand as possible makes it better for 
        everybody. There are common scenarios where people might benefit from 
        simple content. For example, people where English is not their first 
        language or people who have Dyslexia.
      </p>

      {% include "./partials/_things-to-consider.njk" %}
      
      {% include "./partials/_reading-age.njk" %}
      {% include "./partials/_logical-reading-order.njk" %}
      {% include "./partials/_page-title.njk" %}
      {% include "./partials/_page-url.njk" %}
      {% include "./partials/_unique-headings.njk" %}
      {% include "./partials/_heading-hierarchy.njk" %}
      {% include "./partials/_consistent-content.njk" %}
      {% include "./partials/_error-messages.njk" %}
      {% include "./partials/_links-make-sense-out-of-context.njk" %}
      {% include "./partials/_alternative-text-for-non-text-content.njk" %}
      {% include "./partials/_labels-and-instructions.njk" %}
      {% include "./partials/_hidden-content.njk" %}
      {% include "./partials/_captions-and-transcripts.njk" %}

    </div>
  </div>

{% endblock %}
