<h3 class="govuk-heading-m" id="alternative-text-for-non-text-content">
  Alternative text for non-text content
</h3>
<p>
  If the content contains images or other non-text content such as graphs or 
  charts, then you need to define what the alt attribute should be.
</p>
<p>
  If an image is purely decorative then you need to provide an empty alt attribute 
  so that it is hidden from screenreaders. However, if the image adds context to the 
  content, then it should have a description. 
</p>
<p>
  Example of a decorative image:
  <pre>
    <code class="html">
      &lt;img src="patterned-background.jpg" alt="" />
    </code>
  </pre>
</p>
<p>
  Example of an image which needs context:
  <pre>
    <code class="html">
      &lt;img src="cat.jpg" alt="A cat wearing sunglasses." />
    </code>
  </pre>
</p>
<p>
  You should work with an Interaction Designer and a Content Designer to make 
  sure alternative text is provided for images that need it.
</p>
