<h3 class="govuk-heading-m" id="content-and-focus-order">
  Content and focus order
</h3>
<p>
  The content and the focus order needs to be logical. You should not use CSS to 
  rearrange the content on the page to read in a different order to the way it 
  is presented in the DOM. If you turn the CSS off, the page should read in the 
  same order as it would if the CSS is turned on.
</p>
<p>
  The focus order is also important. When tabbing through the page it should be 
  obvious where the focus will go next. A logical order means the focus is always 
  moving left to right and top to bottom within each section, and left to right 
  and top to bottom between each section. 
</p>