<h3 class="govuk-heading-m" id="cookie-consent">
  Cookie consent
</h3>
<p>
  Cookie consent is part of of the General Data Protection Regulations (GDPR) and 
  not strictly an accessibility issue. However a lot of the time cookie consent 
  is presented in pop-up or banner form, and this can make your site inaccessible.
</p>
<p>
  Here are some examples of how your cookie banner could make your site inaccessible:
</p>
<ul class="govuk-list govuk-list--bullet">
  <li>
    The cookie consent is a pop-up which is not announced to a screenreader. This 
    fails WCAG 4.1.2 Name, Role, Value.
  </li>
  <li>
    The cookie consent is a pop-up which is cannot be navigated by keyboard. This 
    fails WCAG 2.1.1 Keyboard.
  </li>
  <li>
    The cookie consent is a pop-up and the keyboard focus can disappear behind it. 
    This fails 2.4.7 Focus visible.
  </li>
  <li>
    The cookie consent is presented as a banner at the bottom of the page but is 
    the first content made available to keyboard focus or screenreaders. This 
    fails WCAG 1.3.2 Meaningful sequence.
  </li>
  <li>
    The cookie consent uses links which are styled to look like buttons but cannot 
    be programatically determined to be buttons. This fails WCAG 4.1.2 Name, Role, 
    Value
  </li>
</ul>