{% set items = [
  {
    text: "GOV.UK Frontend",
    id: "govuk-frontend"
  },
  {
    text: "DWP CASA framework",
    id: "dwp-casa-framework"
  },
  {
    text: "Existing patterns and components",
    id: "existing-patterns-and-components"
  },
  {
    text: "Valid code",
    id: "valid-code"
  },
  {
    text: "Page title",
    id: "page-title"
  },
  {
    text: "Page url",
    id: "page-url"
  },
  {
    text: "Alternative text for non-text content",
    id: "alternative-text-for-non-text-content"
  },
  {
    text: "Heading hierarchy",
    id: "heading-hierarchy"
  },
  {
    text: "Links make sense out of context",
    id: "links-make-sense-out-of-context"
  },
  {
    text: "Validation and error messages",
    id: "validation-and-error-messages"
  },
  {
    text: "Announce dynamic content",
    id: "announce-dynamic-content"
  },
  {
    text: "Timeouts",
    id: "timeouts"
  },
  {
    text: "Cookie consent",
    id: "cookie-consent"
  },
  {
    text: "Correct roles",
    id: "correct-roles"
  },
  {
    text: "No reliance on JavaScript",
    id: "no-reliance-on-javascript"
  },
  {
    text: "No keyboard traps",
    id: "no-keyboard-traps"
  },
  {
    text: "Keyboard focus",
    id: "keyboard-focus"
  },
  {
    text: "Skip links",
    id: "skip-links"
  },
  {
    text: "Orientation and reflow",
    id: "orientation-and-reflow"
  },
  {
    text: "Inputs and labels",
    id: "inputs-and-labels"
  },
  {
    text: "Content and focus order",
    id: "content-and-focus-order"
  },
  {
    text: "Setting the language",
    id: "setting-the-language"
  }
] %}