<h3 class="govuk-heading-m" id="dwp-casa-framework">
  DWP CASA framework
</h3>
<p>
  <a href="https://github.com/dwp/govuk-casa">DWP CASA</a> is a <a href="https://nodejs.org/en/">
  NodeJS</a> framework 
  built and maintained by DWP Engineering.
</p>
<p>
  It ships with GOV.UK Frontend built in and will give you additonal features such 
  as routing logic, validation helpers, session management and protection against 
  common security vulnerabilities.
</p>
<p>
  If you're building a NodeJS project in DWP, it is recommended you use the DWP 
  CASA framework.
</p>
