<h3 class="govuk-heading-m" id="existing-patterns-and-components">
  Existing patterns and components
</h3>
<p>
  Always start by using the existing components and patterns in the <a href="https://design-system.service.gov.uk/">
  GOV.UK Design System</a> and the <a href="https://design-system.dwp.gov.uk/index">
  DWP Design System</a>.
</p>
<p>
  These components often have accessibility considerations built in, so it's not 
  enough to just style your components to look similar.
</p>
<p>
  You should work with an Interaction Designer to understand what parts of the 
  design exist already. If you need to build something from scratch you will need 
  to do additional work to make sure it's accessible.
</p>
