<h3 class="govuk-heading-m" id="govuk-frontend">
  GOV.UK Frontend
</h3>
<p>
  If you're building a service for GOV.UK then you will need to use <a href="https://github.com/alphagov/govuk-frontend">
  GOV.UK Frontend</a>, and you will need to use version 3.0 or newer as older 
  versions are not WCAG 2.1 compliant.
 </p>
 <p> 
  If you're building a service for internal use or some other purpose, you 
  might still want to consider using GOV.UK Frontend because it gives you a lot 
  of accessibility for free.
</p>
<p>
  GOV.UK Frontend comes with templates and stylesheets. It comes with accessible 
  considerations built in such as colours, line-heights, letter spacing and responsive 
  layouts. It will also allow you to use any of the components in the <a href="https://design-system.service.gov.uk/">
  GOV.UK Design System</a>.
</p>
<p>
  You can use the templates in an unbranded mode. So even if you want to brand your 
  website or service differently, you can still get all of the benefits of using 
  GOV.UK Frontend.
</p>
<p>
  If you choose not to use GOV.UK Frontend, then it's likely you will need to do 
  additional work both in development and testing.
</p>
