<h3 class="govuk-heading-m" id="no-reliance-on-javascript">
  No reliance on JavaScript
</h3>
<p>
  When building any website or service, it must work without JavaScript turned on.
</p>
<p>
  JavaScript should be introduced as an enhancement and not as an essential component 
  of the page, so if a user has it turned off or if it does not load then the page 
  still functions.
</p>
<p>
  There are many reasons why JavaScript might not load, especially on poor internet 
  connections or mobile devices. You should never assume that only the 1% of people 
  who deliberately disable JavaScript will be the only people affected.
</p>
