<h3 class="govuk-heading-m" id="orientation-and-reflow">
  Orientation and reflow
</h3>
<p>
  Any website you build should be responsive. If you turn a mobile device portrait 
  or landscape, or you resize the browser window then the website should adapt to 
  fit. 
</p>
<p>
  If you're building an internal service for staff, don't assume that you only 
  need a desktop view. Agents will often resize windows because they have to have 
  multiple systems open at once.
</p>
<p>
  When a website reflows it should not require any horizontal scrolling unless it 
  contains content which categorically cannot work without horizontal scrolling, 
  such as tables, maps or diagrams.
</p>
