<h3 class="govuk-heading-m" id="page-url">
  Page URL
</h3>
<p>
  It should be clear from the URL what the purpose of the page is. URLs are 
  often overlooked as something that should be designed. But they're an important 
  part of accessibility as they can orientate users. They can also make content 
  easier to find if a user needs to come back at a later date.
</p>
<p>
  An example of a good url: 
  <pre>
    <code class="text">
      /guidance/help-with-your-tax-return
    </code>
  </pre>
</p>
<p>
  An example of a bad url: 
  <pre>
    <code class="text">
      /user/5625665526/post/87837847.php
    </code>
  </pre>
</p>
<p>
  You should work with a Content Designer to make sure when the the URLs follow 
  the most helpful format for the user.
</p>