{% extends "_layouts/guidance.njk" %}

{% set sectionId = "tools-and-resources" %}
{% set pageTitle = "Headings and labels: How to test" %}
{% set pageId = 'basic-accessibility-checks/4-headings-and-labels-how-to-test' %}
{% set backLink = '/tools-and-resources/basic-accessibility-checks/#4-headings-and-labels'%}