{% extends "layouts/guidance.html" %}

{% set sectionId = "accessibility-law" %}
{% set pageId = "accessibility-regulations-vs-the-govuk-service-standard" %}
{% set pageTitle = "Accessibility regulations vs the GOV.UK Service Standard" %}

{% block subNav %}
  {% include "../subnav.html" %}
{% endblock %}

{% block pageContent %}

  <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
    {{pageTitle}}
  </h1>

  <div class="app-prose-scope">
    {% markdown %}{% include "./README.md" %}{% endmarkdown %}
  </div>

{% endblock %}
