{% extends "layouts/guidance.njk" %}

{% set sectionId = "accessibility-law" %}
{% set pageId = "accessibility-regulations-vs-the-govuk-service-standard" %}
{% set pageTitle = "Accessibility regulations vs the GOV.UK Service Standard" %}
