{% extends "layouts/guidance.html" %}
{% import './../../_globals/navigation-data.njk' as globals %}

{% set sectionId = "accessibility-law" %}
{% set pageId = "accessibility-regulations-vs-the-govuk-service-standard" %}
{% set pageTitle = "Accessibility regulations vs the GOV.UK Service Standard" %}
{% set subNavParams = {
  pageId: pageId,
  sectionId: sectionId,
  navItems: globals.navItems
} %}

{% block subNav %}
  {{dsSubnav(subNavParams)}}
{% endblock %}

{% block pageContent %}

  <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
    {{pageTitle}}
  </h1>

  <div class="app-prose-scope">
    {% markdown %}{% include "./README.md" %}{% endmarkdown %}
  </div>

{% endblock %}
