/* ==========================================================================
   #APP
   ========================================================================== */

$toc-width: 260px;

.app-phase-banner {
  border-bottom: none;
}

.app-main-wrapper {
  max-width: 1680px;
}

.app-template {
  background-color: govuk-colour("light-grey", $legacy: "grey-3");
}

.app-template__body {
  background-color: govuk-colour("white");
}

.app-link {

  &:link {
    color: govuk-colour("purple");
  }
  &:visited {
    color: govuk-colour("bright-purple");
  }

  &:hover {
    color: govuk-colour("light-purple");
  }
  
  &:focus {
    color: $govuk-focus-text-colour;
  }

}

.app-link--no-visited-state {
  &:link {
    color: govuk-colour("purple");
  }
  &:visited {
    color: govuk-colour("purple");
  }
}


.app-button {
  @include govuk-font($size: 16);
  background-color: govuk-colour("white");
  border-width: 1px;
  border-style: solid;
  border-radius: 0;
  box-sizing: border-box;
  vertical-align: top;
  cursor: pointer; // I know Adam, you will hate this (I can’t help it)
  text-align: center;
  margin: 0;
  padding: 5px 10px;
  position: absolute;
  right: 10px;
  -webkit-appearance: none;
  z-index: 2;

  // Fix unwanted button padding in Firefox
  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }

  &:focus {
    border-color: govuk-colour("black");
    color: govuk-colour("black");
    outline: 3px solid $govuk-focus-colour;
    outline-offset: 0;
  }

}


.app-button--copy {
  border-color: govuk-colour("green");
  color: govuk-colour("green");
  top: 10px;
}


.app-button--close {
  border-color: govuk-colour("purple");
  bottom: 10px;
  color: govuk-colour("purple");
}


.app-pane.app-pane--enabled {
  $pane-height: 100vh;
  overflow: hidden;

  @include govuk-media-query($from: tablet) {
    display: flex;
    flex-direction: column;
  }

  @include govuk-media-query($from: tablet, $and: '(orientation: portrait)') {
    height: $pane-height;
  }

  @include govuk-media-query($from: desktop) {
    height: $pane-height;
  }

}



.app-pane__body {

  @include govuk-media-query($from: tablet) {
    display: flex;
    position: relative;
    min-height: 0;
    flex: 1 1 100%;
    @include govuk-width-container();
  }

}


.app-pane__subnav {
  @include govuk-media-query($from: tablet) {
    // border-right: 1px solid $govuk-border-colour;
    flex: 0 0 auto;
    width: $toc-width;
  }
}


.app-pane__content {
  @include govuk-media-query($from: tablet) {
    display: flex;
    margin-left: auto;
    flex: 1 1 auto;
    flex-direction: column;
    min-width: 0; // needed so that example pre doesn't overflow

    // Stick footer to bottom of screen if content is shorter than viewport
    .app-content {
      display: block;
      flex: 1 0 auto;
    }

  }

}



.app-content {
  padding: govuk-spacing(3);

  @include govuk-media-query($from: tablet) {
    padding: govuk-spacing(6);
  }

}


.app-width-container {
  margin-left: govuk-spacing(3);
  margin-right: govuk-spacing(3);
  max-width: 100%;
  padding: 0;

  @include govuk-media-query($from: tablet) {
    margin-left: govuk-spacing(6);
    margin-right: govuk-spacing(6);
  }

}

.app-figure {
  margin: 1em 0;
  
  figcaption {
    padding: 0;
  }
  img {
    border: 1px solid $govuk-border-colour;
    max-width: 100%;
  }
}