.govuk-link:link,
.app-prose-scope a:link {
    color: govuk-colour('purple');
}

.govuk-link:visited,
.app-prose-scope a:visited {
    color: govuk-colour('dark-grey');
}

.govuk-link:hover,
.app-prose-scope a:hover {
    color: govuk-colour('light-purple')
}

.govuk-link--no-visited-state:link {
    color: govuk-colour('purple');
}

.govuk-link--no-visited-state:visited {
  color: govuk-colour('purple');
}

.govuk-link--no-visited-state:hover {
  color: govuk-colour('light-purple');
}

.govuk-link:focus,
.govuk-link:visited:focus,
.app-prose-scope a:focus,
.app-prose-scope a:visited:focus {
  color: govuk-colour('black');
}
