{% extends "_layouts/landing.njk" %}

{% set pageTitle = "Home" %}

{% block pageContent %}

<div class="app-masthead">
  <div class="app-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">

        <h1 id="dwp-accessibility-manual" class="govuk-heading-xl app-masthead__title">
          DWP Accessibility Manual
          <span class="govuk-visually-hidden">Version</span> 
          <span class="govuk-caption-xl app-masthead__description">0.1.0</span>
        </h1>
        <p class="app-masthead__description govuk-!-margin-bottom-3">
          Guidance and best practice for building accessible services and meeting 
          the Public Sector Bodies Accessibility Regulations 2018.
        </p>
        <p class="app-masthead__description">
          This guidance is still being iterated and is likely to change.
        </p>

      </div>
    </div>
  </div>
</div>

<div class="app-width-container">
  <div class="govuk-main-wrapper govuk-main-wrapper--l">
    <div class="govuk-grid-row">

      <div class="govuk-grid-column-one-quarter govuk-!-margin-bottom-8">
        <h2 id="accessibility-law" class="govuk-heading-l">
          Accessibility law
        </h2>
        <p class="govuk-body">
          Understand the Public Sector Bodies Accessibility Regulations 2018, 
          the Government Accessibility Requirements and what you need to do to 
          make sure your service is compliant.
        <p class="govuk-body">
          <a class="govuk-link govuk-!-font-weight-bold" href="/accessibility-law">
            Accessibility law
          </a>
        </p>
      </div>

      <div class="govuk-grid-column-one-quarter govuk-!-margin-bottom-8">
        <h2 id="guidance-for-your-job-role" class="govuk-heading-l">
          Guidance for your job role
        </h2>
        <p class="govuk-body">
          Understand what responsibilities each role has when it comes to accessibility, 
          and see what you might have to do in your current role.
        </p>
        <p class="govuk-body">
          <a class="govuk-link govuk-!-font-weight-bold" href="/guidance-for-your-job-role">
            Guidance for your job role
          </a>
        </p>
      </div>

      <div class="govuk-grid-column-one-quarter govuk-!-margin-bottom-8">
        <h2 id="best-practice" class="govuk-heading-l">
          Best practice
        </h2>
        <p class="govuk-body">
          Understand best practices for different team setups and document structures.
        </p>
        <p class="govuk-body">
          <a class="govuk-link govuk-!-font-weight-bold" href="/best-practice">
            Best practice</a>
        </p>
      </div>

      <div class="govuk-grid-column-one-quarter govuk-!-margin-bottom-8">
        <h2 id="tools-and-resources" class="govuk-heading-l">
          Tools and resources
        </h2>
        <p class="govuk-body">
          A collection of tools and educational material you can use to improve 
          the accessibility of your own work and the services you work on.
        </p>
        <p class="govuk-body">
          <a class="govuk-link govuk-!-font-weight-bold" href="/tools-and-resources">
            Tools and resources
          </a>
        </p>
      </div>

      <div class="govuk-grid-column-full">
        <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--xl govuk-!-margin-top-0">
      </div>

      <div class="govuk-grid-column-two-thirds-from-desktop">
        <h2 id="community" class="govuk-heading-l">
          Community
        </h2>
        <p class="govuk-body">
          It's important that anybody can contribute to this manual. If you spot 
          any mistakes, want to discuss any points, or you can make any of the content 
          easier to understand, please <a href="https://github.com/dwp/accessibility-manual/issues" class="govuk-link">
          raise an issue on GitHub</a>.
        </p>
      </div>

      <div class="govuk-grid-column-full">
        <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--xl govuk-!-margin-top-0">
      </div>

      <div class="govuk-grid-column-two-thirds-from-desktop">
        <h2 id="support" class="govuk-heading-l">
          Support
        </h2>
        <p class="govuk-body">
          This manual is created and maintained by <a href="https://twitter.com/abbott567" class="govuk-link">
          Craig Abbott</a>. If you need any help please reach out.
        </p>
      </div>
    </div>

  </div>

</div>

{% endblock %}