{# 
  Axe report generator just prints an array of URLS to be used by the gulp task
  This page is not accessible in production. When 
#}

{% import '_globals/navigation-data.njk' as globals %}

<pre>
  <code>
[
  {% for item in globals.navItems -%}
  'http://localhost:{{port}}{{item.link}}'{{',' if not loop.last}}
  {% if item.subsections -%}
  {%- for subItem in item.subsections -%}
  'http://localhost:{{port}}{{subItem.link}}',
  {% endfor -%}
  {%- endif -%}
  {%- endfor %}
]
  </code>
</pre>