{% extends "_layouts/landing.njk" %}

{% set pageTitle = "404 - Page not found" %}

{% block pageContent %}

<div class="app-width-container">
  <div class="govuk-main-wrapper govuk-main-wrapper--l">
    <div class="govuk-grid-row">

      <div class="govuk-grid-column-three-quarters">
        <h1 class="govuk-heading-xl">
          Page not found
        </h1>

        <p class="govuk-body">
                If you typed the web address, check it is correct.</p>

                <p class="govuk-body">
                If you pasted the web address, check you copied the entire address.</p>

        <p class="govuk-body">
         Something broken? please <a href="https://github.com/dwp/accessibility-manual/issues" class="govuk-link">raise an issue on GitHub</a>.
        </p>

    </div>

  </div>

</div>

{% endblock %}