
{% extends "layout.html" %}

{% block pageTitle %}
  DWP Accessibility Manual
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        DWP Accessibility Manual
        <span class="govuk-visually-hidden">Version</span> 
        <span class="govuk-caption-xl">0.1.0</span>
      </h1>
      <p>
        Guidance and best practice for building accessible services and meeting 
        the Public Sector Bodies Accessibilty Regulations 2018.
      </p>
      <p>
        This guidance is still being iterated and is likley to change.
      </p>

      <h2 class="govuk-heading-m">
        Accessibility and the law
      </h2>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/section/accessibility-and-the-law/accessibility-regulations">
            Accessibility regulations
          </a>
        </li>
        <li>
          <a href="/section/accessibility-and-the-law/accessibility-regulations-vs-the-service-standard">
            Accessibility regulations vs the GOV.UK Service Standard
          </a>
        </li>        
        <li>
          <a href="/section/accessibility-and-the-law/accessibility-statements">
            Accessibility statements
          </a>
        </li>
        <li>
          <a href="/section/accessibility-and-the-law/disproportionate-burden">
            Disproportionate burden
          </a>
        </li>
        <li>
          <a href="/section/accessibility-and-the-law/internal-vs-public-facing-services">
            Internal vs public facing services
          </a>
        </li>
        <li>
          <a href="/section/accessibility-and-the-law/web-content-accessibility-guidelines">
            Web Content Accessibility Guidelines (WCAG) 2.1
          </a>
        </li>
      </ul>

      <h2 class="govuk-heading-m">
        Guidance for your job role
      </h2>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/section/guidance-for-your-job-role/business-analyst">
            Business Analyst
          </a>
        </li>
        <li>
          <a href="/section/guidance-for-your-job-role/content-designer">
            Content Designer
          </a>
        </li>
        <li>
          <a href="/section/guidance-for-your-job-role/digital-performance-analyst">
            Digital Performance Analyst
          </a>
        </li>
        <li>
          {# <a href="#"> #}
            Delivery Manager
          {# </a> #}
        </li>
        <li>
          {# <a href="#"> #}
            Frontend Developer
          {# </a> #}
        </li>
        <li>
          <a href="/section/guidance-for-your-job-role/interaction-designer">
            Interaction Designer
          </a>
        </li>
        <li>
          {# <a href="#"> #}
            Product Manager
          {# </a> #}
        </li>
        <li>
          {# <a href="#"> #}
          QA Tester
          {# </a> #}
        </li>
        <li>
          {# <a href="#"> #}
            Software Engineer
          {# </a> #}
        </li>
        <li>
          {# <a href="#"> #}
          User Researcher
          </a>
        {# </li> #}
      </ul>

      <h2 class="govuk-heading-m">
        Best practice
      </h2>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          {# <a href="#"> #}
            Agile teams
          {# </a> #}
        </li>
        <li>
          {# <a href="#"> #}
            Document structure
          {# </a> #}
        </li>
        <li>
          {# <a href="#"> #}
            Powerpoint slides
          {# </a> #}
        </li>
        <li>
          {# <a href="#"> #}
            Waterfall projects
          {# </a> #}
        </li>
        <li>
          {# <a href="#"> #}
            Word documents
          {# </a> #}
        </li>
      </ul>

      <h2 class="govuk-heading-m">
        Tools and resources
      </h2>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/section/tools-and-resources/known-accessibility-issues">
            Known accessibility issues
          </a>
        </li>
        <li>
          {# <a href="#"> #}
            Document structure
          {# </a> #}
        </li>
        <li>
          {# <a href="#"> #}
            Powerpoint slides
          {# </a> #}
        </li>
        <li>
          {# <a href="#"> #}
            Waterfall projects
          {# </a> #}
        </li>
        <li>
          {# <a href="#"> #}
            Word documents
          {# </a> #}
        </li>
      </ul>

      <h2 class="govuk-heading-m">
        Talks and training courses
      </h2>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          {# <a href="#"> #}
            Placeholder
          {# </a> #}
        </li>
      </ul>
    </div>
  </div>

{% endblock %}
