{% extends "layouts/landing.njk" %}

{% set pageTitle = "Home" %}

{% block pageContent %}

<div class="app-masthead">
  <div class="app-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">

        <h1 class="govuk-heading-xl app-masthead__title">
          DWP Accessibility Manual
          <span class="govuk-visually-hidden">Version</span> 
          <span class="govuk-caption-xl app-masthead__description">0.1.0</span>
        </h1>
        <p class="app-masthead__description govuk-!-margin-bottom-3">
          Guidance and best practice for building accessible services and meeting 
          the Public Sector Bodies Accessibility Regulations 2018.
        </p>
        <p class="app-masthead__description">
          This guidance is still being iterated and is likely to change.
        </p>

      </div>
    </div>
  </div>
</div>

<div class="app-width-container">
  <div class="govuk-main-wrapper govuk-main-wrapper--l">
    <div class="govuk-grid-row">

      <div class="govuk-grid-column-one-quarter govuk-!-margin-bottom-8">
        <h2 class="govuk-heading-l">
          Accessibility law
        </h2>
        <p class="govuk-body">
          Understand the Public Sector Bodies Accessibility Regulations 2018, 
          the Government Accessibility Requirements and what you need to do to 
          make sure your service is compliant.
        <p class="govuk-body">
          <a class="govuk-link govuk-!-font-weight-bold" href="/styles">Browse styles</a>
        </p>
      </div>

      <div class="govuk-grid-column-one-quarter govuk-!-margin-bottom-8">
        <h2 class="govuk-heading-l">
          Guidance for your job role
        </h2>
        <p class="govuk-body">
          ...
        </p>
        <p class="govuk-body">
          <a class="govuk-link govuk-!-font-weight-bold" href="/components">Browse components</a>
        </p>
      </div>

      <div class="govuk-grid-column-one-quarter govuk-!-margin-bottom-8">
        <h2 class="govuk-heading-l">
          Best practices
        </h2>
        <p class="govuk-body">
          ...
        </p>
        <p class="govuk-body">
          <a class="govuk-link govuk-!-font-weight-bold" href="/patterns">Browse patterns</a>
        </p>
      </div>

      <div class="govuk-grid-column-one-quarter govuk-!-margin-bottom-8">
        <h2 class="govuk-heading-l">
          Tools and resources
        </h2>
        <p class="govuk-body">
          ...
        </p>
        <p class="govuk-body">
          <a class="govuk-link govuk-!-font-weight-bold" href="/patterns">Browse patterns</a>
        </p>
      </div>

    </div>

  </div>

</div>

{% endblock %}