{% extends "_layouts/landing.njk" %}

{% set pageTitle = "Privacy policy" %}

{% block pageContent %}

<div class="app-width-container">
  <div class="govuk-main-wrapper govuk-main-wrapper--l">
    <div class="govuk-grid-row">

      <div class="govuk-grid-column-three-quarters">
        <h1 class="govuk-heading-xl">
          Privacy policy
        </h1>
        
      </div>
    </div>
  </div>
</div>

{% endblock %}