{% extends "_layouts/guidance.njk" %}

{% set sectionId = "tools-and-resources" %}
{% set pageTitle = "Links and buttons: Technical considerations" %}
{% set pageId = 'basic-accessibility-checks/6-links-and-buttons-technical-considerations' %}
{% set backLink = '/tools-and-resources/basic-accessibility-checks/#6-links-and-buttons'%}