{{dsSubnav({
  sections: [
    {
      items: [
        {
          title: 'The Public Sector Bodies Accessibility Regulations 2018',
          link: '/accessibility-law/the-public-sector-bodies-accessibility-regulations-2018',
          selected: pageId == 'the-public-sector-bodies-accessibility-regulations-2018'
        },
        {
          title: 'EN 301 549 - Accessibility requirements for ICT',
          link: '/accessibility-law/en301549-accessibility-requirements-for-ict',
          selected: pageId == 'en301549-accessibility-requirements-for-ict'
        },
        {
          title: 'Accessibility regulations vs the GOV.UK Service Standard',
          link: '/accessibility-law/accessibility-regulations-vs-the-govuk-service-standard',
          selected: pageId == 'accessibility-regulations-vs-the-govuk-service-standard'
        },
        {
          title: 'Accessibility statements',
          link: '/accessibility-law/accessibility-statements',
          selected: pageId == 'accessibility-statements'
        },
        {
          title: 'Disproportionate burden',
          link: '/accessibility-law/disproportionate-burden',
          selected: pageId == 'disproportionate-burden'
        },
        {
          title: 'Internal vs Public facing services',
          link: '/accessibility-law/internal-vs-public-facing-services',
          selected: pageId == 'internal-vs-public-facing-services'
        },
        {
          title: 'Web Content Accessibility Guidelines (WCAG)',
          link: '/accessibility-law/web-content-accessibility-guidelines',
          selected: pageId == 'web-content-accessibility-guidelines'
        }
      ]
    }
  ]
}) }}
