{% extends "_layouts/guidance.njk" %}

{% set sectionId = "tools-and-resources" %}
{% set pageTitle = "Images: Technical considerations" %}
{% set pageId = 'basic-accessibility-checks/8-images-technical-considerations' %}
{% set backLink = '/tools-and-resources/basic-accessibility-checks/#8-images'%}