{%- from "header-component/macro.njk" import appHeader -%}
{%- from "mobile-navigation/macro.njk" import appMobileNavigation -%}
{%- from "navigation/macro.njk" import appNavigation -%}
{%- from "page-navigation/macro.njk" import appPageNavigation -%}
{%- from "subnav/macro.njk" import dsSubnav -%}
{%- from "phase-banner-component/macro.njk" import appPhaseBanner -%}

{% import './../_globals/navigation-data.njk' as globals %}

{% set subNavParams = {
    pageId: pageId,
		pageTitle: pageTitle,
    sectionId: sectionId,
    navItems: globals.navItems
  } %}
	
<!DOCTYPE html>
<html class="app-template" lang="en">
	<head>
		<meta charset="utf-8">
		<title>{{pageTitle}} - DWP Accessibility Manual</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="theme-color" content="#0b0c0c">
		<link rel="shortcut icon" href="/public/images/favicon/favicon.ico" type="image/x-icon">
		<link rel="apple-touch-icon" sizes="180x180" href="/public/images/favicon/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/public/images/favicon/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/public/images/favicon/favicon-16x16.png">
		<link rel="manifest" href="/public/images/favicon/site.webmanifest">
		<meta name="description" content="Accessibility guidance for DWP and the Public Sector Bodies Accessibility Regulations 2018">
		<meta property="og:image" content="/public/images/dwp-opengraph-image.png">
		<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css">

		<!--[if lte IE 8]><link href="/public/stylesheets/application-ie8.css" rel="stylesheet"><![endif]-->
		<!--[if gt IE 8]><!--><link href="/public/stylesheets/application.css" rel="stylesheet"><!--<![endif]-->

		<!--[if lt IE 9]>
			<script src="/public/javascripts/vendor/html5shiv.js"></script>
		<![endif]-->

	</head>
	<body class="govuk-template__body">
		<script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

		{% block body %}{% endblock %}

		{% include "svg.njk" %}

		{% block bodyEnd %}
			{% block scripts %}
				{% include "scripts.njk" %}
				{% block pageScripts %}{% endblock %}
			{% endblock %}
		{% endblock %}

	</body>
</html>
