{% extends "layouts/base.njk" %}

{% block body %}

  <div class="app-pane">

    {% include "header.njk" %}

    <div class="app-pane__content">

      <main id="content" role="main">
        {% block pageContent %}{% endblock %}
      </main>

      {% include "footer.njk" %}

    </div>

  </div>

{% endblock %}
