{% extends "layouts/base.njk" %}

{% block body %}

  <div class="app-pane">

    {% include "./partials/header.njk" %}

    <div class="app-pane__content">

      <main id="main-content" role="main">
        {% block pageContent %}{% endblock %}
      </main>

      {% include "./partials/footer.njk" %}

    </div>

  </div>

{% endblock %}
