{% extends "layouts/base.html" %}

{% block body %}

  <div class="app-pane">

    {% include "header.html" %}

    {{ govukPhaseBanner({
      classes: "app-phase-banner govuk-width-container",
      tag: {
        text: "alpha"
      },
      html: 'This is a new service – your <a class="govuk-link" href="/get-in-touch">feedback</a> will help us to improve it.'
    }) }}
    {% include "nav.html" %}

    <div class="app-pane__content">

      <main id="content" role="main">
      {% block pageContent %}{% endblock %}
      </main>

      {% include "footer.html" %}

    </div>

  </div>

{% endblock %}
